name: Microservices CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build Product Service
        run: |
          cd product-service
          mvn clean package -DskipTests

      - name: Build Order Service
        run: |
          cd order-service
          mvn clean package -DskipTests
